.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(88, 88, 88);
}

.tile:before {
  background-color: #2C3624;
  content: "";
  position: absolute;
  inset: 0.5px;
}

#tiles {
  padding: 3px;
  top: 0;
  left: 0;
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
