.tile {
  cursor: pointer;
  position: relative;
  width: var(--size);
  height: var(--size);
  outline: 1px solid rgb(52, 52, 52);
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#tiles {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  
  justify-content: center;
  align-items: center;
}
